ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  background: center / cover no-repeat url("../img/header-background-img.jpg");
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
}

.header-menu {
  margin: 0px auto;
  padding: 17px 0;
}

.logo {
  width: 92px;
  height: 26px;
  padding: 0px 20px;
}

.menu__list {
  display: flex;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.header-menu__list {
  padding: 10px 20px;
}

.menu__link {
  text-decoration: none;
}

.header-menu__link {
  font: 400 12px/20px "Oxygen", sans-serif;
  letter-spacing: 0.6px;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 1);
}

.about-page {
  padding: 110px 0 157px 0;
  text-align: center;
}

.about-page__title  {
  font: 400 50px/51px "lora", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color:rgba(255, 255, 255, 1);
  padding: 0 0 20px 0;
}

.about-page__subtitle {
  font: 400 17px/20px "Oxygen", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.63);
  padding: 0 0 41px 0;
}

.about-page__button {
  background-color: rgba(221, 120, 63, 1);
  border-radius: 3px;
  padding: 12px 37px;
}

.text {
  font: 400 13px/20px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/*.tags-block {*/
/*  max-height: 65px;*/
/*  padding: 9px 0 10px 0;*/
/*}*/

/*.tags-block__list {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-wrap: wrap;*/
/*  max-width: 960px;*/
/*}*/




.tags-block__list {
  text-align: center;
  
}

.tags-block__item {
  padding: 22px 10.5px 23px 10.5px;
  display: inline-block;
  width: 139px;
  margin: 0 auto;
}

.tags-block__link {
  font: 400 14px/20px "Lora", sans-serif;
  color: rgba(118, 128, 136, 1);
}

.footer {
  background: center / cover no-repeat url("../img/footer_img.png");
  height: 89px;
}

.footer__background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(35, 47, 56, 0.6);
  height: 100%;
  width: 100%;
}

.footer-menu__link {
  font: 400 11px/26px "Oxygen", sans-serif;
  letter-spacing: 1px;
  padding: 31px 20px;
  color: rgba(255, 255, 255, 0.6);
}


