ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  font: 400 12px/20px "Oxygen", sans-serif;
}

.page {
  margin: 0;
  padding: 0;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 17px auto;
}

.logo {
  width: 92px;
  height: 26px;
}

.menu {
  display: flex;
}

.menu__link {
  /*что то было*/
  letter-spacing: 0.6px;
  padding: 10px 20px;
  color: #2E2E2E;
}

.page_title {
  text-align: center;
  padding: 89px 0 38px;
  /*    paddings */
}

.article_title {
  font: 400 51px/50px "Lora";
  /*что - то было*/
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.article_description {
  font: 400 17px/20px "Oxygen";
  /*margin: 0 auto;*/
  color: #2E2E2EA1;
}

.article_img {
  /*height: 534px;*/
  max-height: 534px;
  width: 100%;
}

.article_content {
  font: 400 24px/35px "Oxygen";
  /*тут что - то было*/
  max-width: 960px;
  margin: 0 auto;
  padding: 140px 0 135px;
}

.footer {
  background: center / cover no-repeat url("../img/footer_img.png");
  /*color: #FFFFFF99;*/
  height: 89px;
}

.footer_background {
  background-color: #232F3899;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 940px;*/
  width: 100%;
  /*margin: 0 auto; container styles*/
  color: #2E2E2E;
}

.footer_link {
  font: 400 11px/26px "Oxygen", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  /*cursor: pointer;*/
  padding: 10px 20px;
  /*color: #FFFFFF99;*/
  /*rgba*/
}

