ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  background: center / cover no-repeat url("../img/header-background-img.jpg");
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
}

.header-menu {
  margin: 0px auto;
  padding: 17px 0;
}

.logo {
  width: 92px;
  height: 26px;
  padding: 0px 20px;
}

.menu__list {
  display: flex;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.header-menu__list {
  padding: 10px 20px;
}

.menu__link {
  text-decoration: none;
}

.header-menu__link {
  font: 400 12px/20px "Oxygen", sans-serif;
  letter-spacing: 0.6px;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 1);
}

.about-page {
  padding: 110px 0 157px 0;
  text-align: center;
}

.about-page__title  {
  font: 400 50px/51px "lora", sans-serif;
  letter-spacing: 2px;
  color:rgba(255, 255, 255, 1);
  padding: 0 0 20px 0;
}

.about-page__subtitle {
  font: 400 17px/20px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.63);
  padding: 0 0 41px 0;
}


.about-page__button {
  font: 400 13px/20px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  padding: 12px 31px;
  background-color: rgba(221, 120, 63, 1);
  max-width: 167px;
  margin: 0 auto;
}

.tags-list {
  text-align: center;
}

.tags-list__item {
  padding: 22px 10.5px 23px 10.5px;
  display: inline-block;
  width: 139px;
  margin: 0 auto;
}

.tags-list__link {
  font: 400 14px/20px "Lora", sans-serif;
  color: rgba(118, 128, 136, 1);
}

.content {
  background: rgba(247, 247, 247, 1);
  padding-bottom: 89px;
}

.card-container {
  max-width: 960px;
  margin: 0 auto;
}

.content-title {
  text-align: center;
  position: relative;
  max-width: 188px;
  font: 400 20px/27px "Oxygen", sans-serif;
  letter-spacing: 2px;
  padding: 60px 0 16px 0;
  margin: 0 auto 23px;
}

.content-title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #dedede;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gap-big {
  gap: 20px;
}

.gap-small {
  gap: 24px;
}

.card__big {
  width: 460px;
}

.card__small {
  width: 296px;
  min-height: 291px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.height-big-card {
  height: 280px;
}

.about-card {
  min-height: 93px;
}

.about-card__title {
  padding: 14px 20px 0 20px;
}

.title-big {
  font: 400 27px/30px "Lora", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.title-small {
  font: 400 16px/21px "Lora", sans-serif;
  color: rgba(16, 19, 21, 1);
}

.white {
  background-color: rgba(255, 255, 255, 1);
}

.grey {
  background-color: rgba(252, 252, 252, 1)
}

.description-big {
  font: 400 14px/25px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  padding: 6px 20px 0px 20px;
}

.description-small {
  font: 400 13px/19px "Oxygen", sans-serif;
  color: rgba(122, 122, 122, 1);
  padding: 6px 20px 13px 20px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.border {
  position: relative;
}

.border::before {
  content: "";
  top: -1px;
  position: absolute;
  height: 1px;
  background-color: rgba(239, 239, 239, 1);
  width: 100%;
}

.info-big {
  padding: 12px 20px 15px;
}

.info-small {
  padding: 7px 20px 6px;
}

.text-big-info {
  font: 400 12px/35px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.text-small-info {
  font: 400 11px/35px "Oxygen", sans-serif;
  color: rgba(153, 153, 153, 1);
}

.info__avatar{
  width: 26px;
  height: 26px;
  border-radius: 60px;
}

.info__author-name {
  flex-grow: 1;
  padding-left: 10px;
}

.other-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  background: center / cover no-repeat url("../img/footer_img.png");
  height: 89px;
}

.footer__background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(35, 47, 56, 0.6);
  height: 100%;
  width: 100%;
}

.footer-menu__link {
  font: 400 11px/26px "Oxygen", sans-serif;
  letter-spacing: 1px;
  padding: 31px 20px;
  color: rgba(255, 255, 255, 0.6);
}